<div class="job-entry">

	<h3>Senior Designer</h3>
	<div class="clear_both"></div>
	<br>
<div class="job-listing">

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		In iaculis lorem maximus aliquet blandit.
		Aenean in nisi eget neque posuere cursus.
		Phasellus eget ligula imperdiet nunc faucibus euismod et sit amet metus.
		Donec porttitor lacus a tortor tristique, nec laoreet nunc laoreet.
		Ut venenatis nunc vel massa rutrum, eu fringilla ex ornare.
		Mauris lobortis erat in arcu dictum vulputate.
		Ut pellentesque est sed laoreet posuere.
		Duis eget orci non augue placerat tempus.
		Integer in mi a odio efficitur ornare vel a nisi.
		Proin eu risus quis dolor mollis rutrum.
		Donec vel nisl eu massa bibendum consectetur in et diam.
		Phasellus vulputate mi sed ante gravida suscipit.
		Integer non sapien quis mi malesuada semper. </p>
	</div>
</div>
